<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voucher List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nucleo-icons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/nucleo-svg.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #e8f5e9; /* Soft green background */
            margin: 0;
            padding: 0;
        }
        h2  {
            color: #388e3c;
            text-align: center;
            padding: 20px 0;
            font-size: 2.5em;
        }
    </style>
</head>
<body>
<div th:insert="~{blocks/fragments :: adminNavbar}"></div>
<div class="container my-2">
    <h2>Voucher List</h2>
    <a th:href="@{/voucher/create}" class="btn btn-success btn-sm mb-3">Create Voucher</a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th scope="col">Voucher Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Discount</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voucherItem: ${voucher}">
            <td th:text="${voucherItem.voucherName}"></td>
            <td th:text="${voucherItem.voucherQuantity}"></td>
            <td th:text="${voucherItem.discount} + '%' "></td>
            <td>
                <a th:href="@{/voucher/edit/{id}(id=${voucherItem.voucherId})}" class="btn btn-success btn-just-icon btn-sm">Edit</a>
                <a th:href="@{/voucher/delete/{id}(id=${voucherItem.voucherId})}" class="btn btn-danger btn-just-icon btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>