<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Import Products</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Import Products</h2>
    <ul class="list-group">
        <li th:each="product : ${importProducts}" class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <span th:text="${product.title}" class="fw-bold"></span>
            </div>
            <div>
                <button class="btn btn-info btn-sm" th:attr="onclick=|location.href='/admin/import/product/view/' + '${product.productId}'|">View</button>
                <button class="btn btn-warning btn-sm" th:attr="onclick=|location.href='/admin/import/product/edit/' + '${product.productId}'|">Edit</button>
                <button class="btn btn-danger btn-sm" th:attr="onclick=|location.href='/admin/import/product/delete/' + '${product.productId}'|">Delete</button>
            </div>
        </li>
    </ul>
    <button type="button" class="btn btn-primary mt-3" onclick="location.href='/admin/import/product/create'">Create New Product</button>
</div>
</body>
</html>
