<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Import Main</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Import Forms and Products</h2>
    <div>
        <h3>Import Forms</h3>
        <ul class="list-group mb-3">
            <li th:each="form : ${importForms}" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <span th:text="${form.productName}" class="fw-bold"></span>
                    <span th:text="'(' + ${form.requestId} + ')'"></span>
                </div>
                <div>
                    <button class="btn btn-info btn-sm" th:attr="onclick=|location.href='/admin/import/form/view/' + '${form.requestId}'|">View</button>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <h3>Import Products</h3>
        <ul class="list-group">
            <li th:each="product : ${importProducts}" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <span th:text="${product.title}" class="fw-bold"></span>
                    <span th:text="'(' + ${product.requestId} + ')'"></span>
                </div>
                <div>
                    <button class="btn btn-info btn-sm" th:attr="onclick=|location.href='/admin/import/product/view/' + '${product.productId}'|">View</button>
                </div>
            </li>
        </ul>
        <button class="btn btn-primary mt-3" onclick="location.href='/admin/import/product/create'">Create New Product</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
